<!DOCTYPE html>

<html>
    <head>
        <title>Oops! this site is blocked!</title>
        <link rel="stylesheet" href="static/css/goals_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="bg1" class="bg"></div>
        <div id="bg2" class="bg"></div>
        
        <div id="motivation" class="text">
            <h1 id="block-message">This site has been blocked.</h1>
            <h2 id="custom-message"></h2>
          </div>  

        <script src="static/js/add_domain.js"></script>
        <script src="static/js/wallpaper.js"></script>
        <script src="static/js/message.js"></script>
    </body>
</html>